USE [Dev_Comideria]
GO
/****** Objeto: StoredProcedure [dbo].[sp_InhabilitarProducto] Fecha de script: 07/10/2026 20:32:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InhabilitarProducto]
    @ProductoID INT,
    @EmpleadoID INT,
    @Observacion NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @StockAnterior INT;
    SELECT @StockAnterior = Stock FROM Inventario WHERE ProductoID = @ProductoID;

    UPDATE Productos SET Activo = 0 WHERE ProductoID = @ProductoID;

    INSERT INTO MovimientosInventario (ProductoID, Fecha, Tipo, Cantidad, StockAnterior, StockNuevo, EmpleadoID, Observacion)
    VALUES (@ProductoID, GETDATE(), 'Inhabilitación producto', @StockAnterior, @StockAnterior, @StockAnterior, @EmpleadoID, @Observacion);
END

GO
