USE [Dev_Comideria]
GO
/****** Objeto: Table [dbo].[TriggerLogStockCritico] Fecha de script: 07/10/2026 20:32:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TriggerLogStockCritico](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductoID] [int] NULL,
	[Stock] [int] NULL,
	[StockMinimo] [int] NULL,
	[SourceTable] [nvarchar](10) NULL,
	[LogDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TriggerLogStockCritico] ADD  DEFAULT (getdate()) FOR [LogDate]
GO
