USE [Dev_Comideria]
GO
/****** Objeto: StoredProcedure [dbo].[sp_InhabilitarProductoConMovimiento] Fecha de script: 07/10/2026 20:32:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InhabilitarProductoConMovimiento]
    @ProductoID INT,
    @EmpleadoID INT,
    @Observacion NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @StockAnterior INT;
    SELECT @StockAnterior = Stock FROM Inventario WHERE ProductoID = @ProductoID;

    -- Inhabilitar producto
    UPDATE Productos SET Activo = 0 WHERE ProductoID = @ProductoID;

    -- Poner stock en 0
    UPDATE Inventario SET Stock = 0 WHERE ProductoID = @ProductoID;

    -- Registrar movimiento histórico
    INSERT INTO MovimientosInventario (ProductoID, Fecha, Tipo, Cantidad, StockAnterior, StockNuevo, EmpleadoID, Observacion)
    VALUES (@ProductoID, GETDATE(), 'Inhabilitación producto', (0 - @StockAnterior), @StockAnterior, 0, @EmpleadoID, @Observacion);
END


GO
