USE [Dev_Comideria]
GO
/****** Objeto: StoredProcedure [dbo].[sp_RegistrarMovimientoInventario] Fecha de script: 07/10/2026 20:32:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_RegistrarMovimientoInventario]  
    @ProductoID INT,  
    @Tipo NVARCHAR(50),       -- Ej: 'Entrada', 'Salida', 'Actualización producto', 'Inhabilitación producto'  
    @Cantidad INT,            -- Diferencia aplicada (ej: +10, -5, etc.)  
    @StockAnterior INT,  
    @StockNuevo INT,  
    @EmpleadoID INT,  
    @Observacion NVARCHAR(200)  
AS  
BEGIN  
    SET NOCOUNT ON;  

    INSERT INTO MovimientosInventario  
    (
        ProductoID, 
        Fecha,              -- 👉 Fecha del movimiento
        Tipo, 
        Cantidad, 
        StockAnterior, 
        StockNuevo, 
        EmpleadoID, 
        Observacion
    )  
    VALUES  
    (
        @ProductoID, 
        GETDATE(),          -- 👉 Fecha automática
        @Tipo, 
        @Cantidad, 
        @StockAnterior, 
        @StockNuevo, 
        @EmpleadoID, 
        @Observacion
    );  
END
GO
