USE [Dev_Comideria]
GO
/****** Objeto: StoredProcedure [dbo].[sp_InsertarFacturaConDetalle] Fecha de script: 07/10/2026 20:32:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarFacturaConDetalle]
    @Numero NVARCHAR(20),
    @ClienteID INT = NULL,
    @EmpleadoID INT,
    @FormaPagoID INT,
    @Observacion NVARCHAR(200) = NULL,
    @EstadoID INT, -- ahora sí existe en Facturas
    @Subtotal DECIMAL(10,2),
    @Total DECIMAL(10,2),
    @Detalles DetalleFacturaType READONLY
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @NuevaFacturaID INT;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Insertar cabecera en Facturas
        INSERT INTO Facturas
        (Numero, ClienteID, EmpleadoID, Fecha, FormaPagoID, Observacion, EstadoID, Subtotal, Total)
        VALUES
        (@Numero, @ClienteID, @EmpleadoID, GETDATE(), @FormaPagoID, @Observacion, @EstadoID, @Subtotal, @Total);

        SET @NuevaFacturaID = SCOPE_IDENTITY();

        -- Insertar detalles
        INSERT INTO DetalleFactura (FacturaID, ProductoID, Cantidad, PrecioUnitario, Subtotal)
        SELECT @NuevaFacturaID, ProductoID, Cantidad, PrecioUnitario, Subtotal
        FROM @Detalles;

        -- Actualizar stock
        UPDATE i
        SET i.Stock = i.Stock - d.Cantidad
        FROM Inventario i
        INNER JOIN @Detalles d ON i.ProductoID = d.ProductoID;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
