USE [Dev_Comideria]
GO
/****** Objeto: View [dbo].[vw_InventarioConValor] Fecha de script: 07/10/2026 20:32:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_InventarioConValor]
AS
SELECT 
    m.MovimientoID,
    m.Fecha,
    m.Tipo,
    m.Cantidad,
    m.StockAnterior,
    m.StockNuevo,
    m.Observacion,
    p.ProductoID,
    p.Nombre AS NombreProducto,
    p.PrecioVenta,
    e.EmpleadoID,
    e.Nombre AS NombreEmpleado,
    (m.StockNuevo * p.PrecioVenta) AS ValorInventario,
    -- Cantidad de facturas emitidas (solo pagadas)
    (SELECT COUNT(*) 
     FROM Facturas f 
     INNER JOIN Estados es ON f.EstadoID = es.EstadoID
     WHERE es.NombreEstado = 'Pagada') AS CantidadFacturasEmitidas,
    -- Cantidad de productos descontados en facturas pagadas
    (SELECT SUM(fd.Cantidad) 
     FROM DetalleFactura fd
     INNER JOIN Facturas f ON fd.FacturaID = f.FacturaID
     INNER JOIN Estados es ON f.EstadoID = es.EstadoID
     WHERE es.NombreEstado = 'Pagada') AS CantidadProductosDescontados
FROM MovimientosInventario m
INNER JOIN Productos p ON m.ProductoID = p.ProductoID
INNER JOIN Empleados e ON m.EmpleadoID = e.EmpleadoID;
GO
