USE [Dev_Comideria]
GO
/****** Objeto: StoredProcedure [dbo].[sp_AgregarProductoConInventario] Fecha de script: 07/10/2026 20:32:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AgregarProductoConInventario]
    @Codigo NVARCHAR(50),
    @Nombre NVARCHAR(100),
    @CategoriaID INT,
    @UnidadID INT,
    @Descripcion NVARCHAR(200),
    @PrecioVenta DECIMAL(18,2),
    @Activo BIT,
    @Stock INT,
    @StockMinimo INT,
    @EmpleadoID INT,
    @Observacion NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Insertar producto
        INSERT INTO Productos (Codigo, Nombre, CategoriaID, UnidadID, Descripcion, PrecioVenta, Activo)
        VALUES (@Codigo, @Nombre, @CategoriaID, @UnidadID, @Descripcion, @PrecioVenta, @Activo);

        DECLARE @ProductoID INT = SCOPE_IDENTITY();

        -- Insertar inventario
        INSERT INTO Inventario (ProductoID, Stock, StockMinimo)
        VALUES (@ProductoID, @Stock, @StockMinimo);

        -- Registrar movimiento de inventario
        INSERT INTO MovimientosInventario
        (
            ProductoID, Fecha, Tipo, Cantidad,
            StockAnterior, StockNuevo, EmpleadoID, Observacion
        )
        VALUES
        (
            @ProductoID, GETDATE(), 'ENTRADA', @Stock,
            0, @Stock, @EmpleadoID, @Observacion
        );

        COMMIT TRANSACTION;

        SELECT @ProductoID AS ProductoID;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
