USE [Dev_Comideria]
GO
/****** Objeto: UserDefinedTableType [dbo].[DetalleFacturaType] Fecha de script: 07/10/2026 20:32:58 ******/
CREATE TYPE [dbo].[DetalleFacturaType] AS TABLE(
	[ProductoID] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[Subtotal] [decimal](10, 2) NOT NULL
)
GO
