USE [Dev_Comideria]
GO
/****** Objeto: StoredProcedure [dbo].[sp_CrearUsuarioEmpleado] Fecha de script: 07/10/2026 20:32:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CrearUsuarioEmpleado]
    @EmpleadoID INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Nombre NVARCHAR(50),
            @Cargo NVARCHAR(50),
            @Cedula NVARCHAR(20),
            @NombreUsuario NVARCHAR(100),
            @Contraseña NVARCHAR(200);

    -- Obtener datos del empleado
    SELECT @Nombre = Nombre,
           @Cargo = Cargo,
           @Cedula = Cedula
    FROM Empleados
    WHERE EmpleadoID = @EmpleadoID;

    -- Generar usuario y contraseña
    SET @NombreUsuario = @Nombre + @Cargo;
    SET @Contraseña = @Nombre + @Cargo + @Cedula;

    -- Insertar en tabla Usuarios
    INSERT INTO Usuarios (EmpleadoID, NombreUsuario, Contraseña, RolSistema, Activo)
    VALUES (@EmpleadoID, @NombreUsuario, @Contraseña, @Cargo, 1);
END;

GO
